amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
blessings==1.6.1
boto==2.48.0
boto3==1.7.14
botocore==1.10.14
bpython==0.17.1
celery==3.1.26.post2
celery-with-redis==3.0
certifi==2018.4.16
chardet==3.0.4
curtsies==0.3.0
Django==2.0.5
django-boto==0.3.12
django-celery==3.2.2
django-storages==1.6.6
djangorestframework==3.8.2
docutils==0.14
greenlet==0.4.13
idna==2.6
jmespath==0.9.3
kombu==3.0.37
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
Pygments==2.2.0
python-dateutil==2.7.2
pytz==2018.4
redis==2.10.6
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
